*:not(input) {
    cursor: default;
    user-select: none;
}

html, body, div {
    padding: 0;
    margin: 0;
}

html, body {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}


.map-outer {

}

.map-inner {
    position: relative;
    background: url('../assets/map_src.jpeg') no-repeat center;
}

.point {
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
}