*:not(input) {
    cursor: default;
    user-select: none;
}

html, body, div {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

html, body {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.map-inner {
    position: relative;
    background: url('../assets/map_src.jpeg') no-repeat center;
}

.point {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #ffeb8a;
}

.modal-wrapper {
    position: absolute;
    left: 0;
    bottom: -200px;
    width: 100%;
    z-index: 100;
    height: 180px;
    background: transparent;
}

.modal-wrapper .modal {
    position: relative;
    box-sizing: border-box;
    width: 400px;
    height: 160px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(52, 73, 94, 0.50);
    border: 1px solid #eee;
    padding: 10px;
    opacity: 0;
}

.modal-content {
    font-size: 12px;
    color: #888;
}

.book-btn {
    padding: 10px 6px;
    background-color: #489AD8;
    color: #ffffff;
    font-weight: 700;
    border-radius: 2px;
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer;
}

.book-btn:hover {
    background-color: #4488c3;
}