*:not(input) {
    cursor: default;
    user-select: none;
}

html, body, div {
    padding: 0;
    margin: 0;
}

html, body {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.map-inner {
    position: relative;
    background: url('../assets/map_src.jpeg') no-repeat center;
}

.point {
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
}

.modal-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    height: 300px;
    background: red;
}

.modal-wrapper .modal {
    position: relative;
    width: 300px;
    height: 260px;
    margin: 0 auto;
    background-color: #ffffff;

}